*{
  border:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit';
}
body{
  margin:0;
  text-align: center;
  font-family: 'Kanit';

}
ul,nav{
  list-style: none;
}
a{
  text-decoration: none;
  cursor:pointer;
  color:#45b29a ;
}
header{
  position: absolute;

  top:0;
  left:0;
  z-index: 10;
  width: 100%;
display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
header h2{
  padding-left: 5%;
}
header nav{
  display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
      display:flex;
}
header nav li{
  margin:0 20px;
}
header nav li:first-child{
  margin-left: 0;
}
header nav li:last-child{
  margin-right: 20px;
}
@media (max-width:1000px){
  header{
    padding:20px 50px;
  }
}
@media (max-width:700px){
  header{
    flex-direction:column;
  }
  header h2{
    margin-bottom: 15px;
  }
  header nav li{
    margin:0 7px;
  }
  #cloud1{

    margin-top: 70px;
  }
}
img{
  display: inline-block;

}
#cloud1{
margin-left: 40%;
margin-bottom: 0;
}

#im_saurav{
margin: 0;
}
p{
font-stretch: ultra-expanded;

margin: 0 auto;
color: #45b29a;
}
.top_container{
  padding-top: 20px;
  background-color: #f9f9f920;
  display: flex;
  flex-flow: column ;
justify-content:center;
align-items: center;


}
.middle_container{
  background-color: #79bac1;
height: 500px;

}
.bottom_container{
  background-color: #2a7886;
height: 500px;
}
